<div id="aboutme" class="full-width-div bg-secondary" style="top:100%;">

	<div class="container pt-5 w-100">
		<div class="row pt-3 justify-content-center h-100">
			<div class="col-12 align-self-center text-center">
				<section id="sectionListTools" class="swing">
					<ul class="showswing list-group">
					  	<li class="list-group-item bg-dark">
					  		<div class="row">
					  			<div class="col-8">
									<h1 >Tool</h1>
					  			</div>
					  			<div class="col-4">
					  				<h1 >Experience</h1>
					  			</div>
					  		</div>
					  	
						</li>
					  	<li class="list-group-item">
					  		<div class="row">
						  		<div class="col-2 rounded-circle pt-1 pb-1 bg-light">
						  			<img src="/images/aboutme/qlik.png" height="60px">
						  		</div>
						  		<div class="col-6">
						  			<h1>Qlikview Developer</h1>
						  		</div>
						  		<div class="col-4">
						  			<h1>4 Years</h1>
						  		</div>
						  	</div>
					  	</li>
					  	<li class="list-group-item">
					  		<div class="row">
						  		<div class="col-2 rounded-circle pt-1 pb-1 bg-light">
						  			<img src="/images/aboutme/CSharp.png" height="60px">
						  		</div>
						  		<div class="col-6">
						  			<h1>C# Developer</h1>
						  		</div>
						  		<div class="col-4">
						  			<h1>4 Years</h1>
						  		</div>
						  	</div>
					  	</li>
					  	<li class="list-group-item">
					  		<div class="row">
						  		<div class="col-2 rounded-circle pt-1 pb-1 bg-light">
						  			<img src="/images/aboutme/java.png" height="60px">
						  		</div>
						  		<div class="col-6">
						  			<h1>Java Developer</h1>
						  		</div>
						  		<div class="col-4">
						  			<h1>2 Years</h1>
						  		</div>
						  	</div>
					  	</li>
					  	<li class="list-group-item">
					  		<div class="row">
						  		<div class="col-2 rounded-circle pt-1 pb-1 bg-light">
						  			<img src="/images/aboutme/nodejs.png" height="60px">
						  		</div>
						  		<div class="col-6">
						  			<h1>Node JS Developer</h1>
						  		</div>
						  		<div class="col-4">
						  			<h1>2 Years</h1>
						  		</div>
						  	</div>
					  	
					  	</li>
					  	<li class="list-group-item">
					  		<div class="row">
					  			<div class="col-2 rounded-circle pt-1 pb-1 bg-light">
						  			<img src="/images/aboutme/webdev.png" height="60px">
						  		</div>
						  		<div class="col-6">
						  			<h1>WEB Developer</h1>
						  		</div>
						  		<div class="col-4">
						  			<h1>6 Years</h1>
						  		</div>

						  		</div>
					  	</li>
					</ul>
				</section>
			</div>
		</div>

		
	</div>

</div>