<div id="ericsson" class="full-width-div text-light border-bottom border-top" style="top:300%;">
	<div class="container pt-5 w-100">
		<div class="pt-3 pb-3 row justify-content-center">
			<div class="col-6 align-self-center text-center bg-light fadeInDown rounded d-none">
				<img src="./images/logoEricsson.png" height="60px">
				<h4 class="border-top text-secondary">10.2012 - 02.2017</h4>
			</div>
				
		</div>
		<div class="row justify-content-center">
			<div class="col-12 align-self-center fadeIn d-none">
				<p>
					Administration/Analysis/Development in Qlikview/SQL Server projects.
					The projects in Qlikview was focused in support the projects/clients from Latin America
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6 fadeInLeft d-none">
				<div class="card text-white bg-dark mb-3 h-100">
				  <div class="card-header text-center">Professional Experiences</div>
				  <div class="card-body bg-secondary p-3 m-1 border-dark  rounded-bottom">
				  	-Almost daily contact with Latin America countries;<br/>
				-3 business trips to México to develop new projects to the biggest Ericsson clients in Latin America (Telcel, America Movil, Movistar and Telmex);<br/>
				-Business trip to Rio de Janeiro to develop new projects to Claro;<br/>
				-Some others projects developed remotely to Brazil, Panama, Colombia, México, Costa Rica, Venezuela, Chile, Bolivia, Nicaragua and some Islands in Caribbean.
				  </div>
				</div>
			</div>
			<div class="col-6 fadeInRight d-none">
				<div id="ericssonTools" class="card bg-light mb-3 h-100">
				  
				  <div class="card-header">
				  	<ul class="nav nav-tabs card-header-tabs">
				      <li class="nav-item">
				        <a class="nav-link text-dark active" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true"  href="#toolsExcel" >Excel</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link text-dark " data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" href="#toolsQlikview">Qlikview</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link text-dark " data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" href="#toolsSQLServer">SQL Server</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link text-dark " data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" href="#toolsCSharp"> C#.NET</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link text-dark " data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" href="#toolsJava">Java/ C#</a>
				      </li>
				    </ul>
				  </div>




				  <div class="card-body bg-white text-dark rounded-bottom">
				  	<div id="toolsExcel" class="tab-pane collapse fadeIn animated show active" role="tabpanel" >
				  	 Used in to validated and to extract the logics previously developed with the objective to transcript into qlikview
				  	</div>
				  	<div id="toolsQlikview" class="tab-pane collapse fadeIn animated" role="tabpanel" >
					-Deep knowledgment of the tool; <br/>
					-Creation of automatic reports;<br/>
					-Development of custom objects; <br/>
					-Qlikview Server;<br/>
					-Data structure;<br/>
					</div>
					<div id="toolsSQLServer" class="tab-pane collapse fadeIn animated" role="tabpanel" >
					-Main functions(Search/Insert/Delete data);<br/>
					-Users maintenance;<br/>
					-Triggers;<br/>
					-Schedules;<br/>
					</div>
					<div id="toolsCSharp" class="tab-pane collapse fadeIn animated" role="tabpanel" >
						-Login interface;<br/>
						-Custom interface connected with qlikview authentication;
					</div>
					<div id="toolsJava" class="tab-pane collapse fadeIn animated" role="tabpanel" >
					-Data extractor (Login in the system, Download xmls and upload to database)<br/>
					-Read the data from the xml/excel and store into SQL Server;
					</div>
				  </div>
				</div>
			</div>
			
		</div>
	</div>
</div>