<div id="home" class="full-width-div bg-secondary">

	<div class="container pt-5 w-100">
		<div class="row pt-3 justify-content-center h-100">
			<div class="col-12 align-self-center text-center">
				<h1 class="display-1 handsomeFont">Looking for a developer?</h1>
			</div>
		</div>

		<div class="row justify-content-center h-100">
			<div class="col-4 align-self-center">

				<div id="svgWrapper">
					<svg height="100%" width="100%">
						<circle cx="50%" cy="50%" r="48%" stroke="RGBA(255, 150, 0, 0.7)" stroke-width="3" fill="RGBA(255, 215, 0, 0.6)" />

						Sorry, your browser does not support inline SVG.  
					</svg> 
				</div>
		    	<img  class="blurFade" src="/images/logo_big.png" width="100%" />
		    </div>
		  </div>
	</div>

</div>