<div id="nordica" class="full-width-div bg-white" style="top:400%;">
	<div class="container pt-5 w-100">
		<div class="pt-3 pb-3 row justify-content-center">
			<div class="col-6 align-self-center text-center bg-light rounded">
				<img src="./images/logoNordica.png" >
				<h4 class="border-top text-secondary">10.2016 - 02.2017</h4>
			</div>
				
		</div>
		<div class="row justify-content-center">
			<div class="col-12 align-self-center">
				<p>
					Analysis/Development in Qlikview using SQL Server and Teradata.
					Create analysis for high-level focused in create dashboards with a deep analysis using the data from IMS and CloseUp
				</p>
			</div>
		</div>
	</div>
</div>