.timeline-item {
  height: 8rem;
}
.company-img {
  border-radius: 100%;
  border: solid 1px;
}
.company-name-date {
  background: rgb(107, 107, 107);
  border-radius: 2rem 0rem 0rem 2rem;
  height: 7rem;
}

.position {
  background: rgb(63, 63, 63);
  border-radius: 0rem 2rem 2rem 0rem;
  height: 7rem;
}
