.timeline-item {
  height: 8rem;
}
.company-img {
  border-radius: 100%;
  background-color: RGBA(0, 0, 0, 0.5);
  border: solid 2px RGB(0, 0, 0);
}

.company-name-date {
  background: rgb(77, 77, 77);
  border-radius: 2rem 0rem 0rem 2rem;
  height: 7rem;
}

.position {
  background: rgb(63, 63, 63);
  border-radius: 0rem 2rem 2rem 0rem;
  height: 7rem;
}
