<mat-toolbar class="stickyBar">
  <span>Guilherme Nazareth Gonçalves</span>
  <p class="px-2 fs-6">Full Stack Developer</p>
</mat-toolbar>

<div class="container text-center bg-dark text-light">
  <div class="row align-items-center pb-5 mb-5  border-bottom">
    <div class="col-2">
      <img class="avatar p-2" src="./assets/profile-pic.jpg" />
    </div>
    <div class="col">
      <h2>Profile</h2>
      <p>
        Experienced Software Developer with 10 plus years of experience on
        multiple areas of technology, from small to global companies, working
        with Business Intelligence , Infrastructure, Support, and Web/Mobile
        Development on the most recent years.
      </p>
    </div>
  </div>

  <div class="row align-items-center justify-content-center">
    <ng-container *ngFor="let experience of listExperiences">
      <app-timeline-item [experience]="experience"></app-timeline-item>
    </ng-container>
  </div>
</div>
