<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div id="loading" class="bg-light opacityFull">
    <h1 class="display-4 pulse animated infinite">Loading</h1>
   
  </div>
  <div id="positionScreen"></div>
  <div id="content" >
    <% include ../partials/nav.ejs %>
    <% include ../partials/home.ejs %>
    <% include ../partials/about.ejs %>
    <% include ../partials/cast.ejs %>
    <% include ../partials/ericsson.ejs %>
    <% include ../partials/nordica.ejs %>
  </div>

  
 <script>

//function for smooth navigation
$(document).ready(function() {
  //set smooth navigation
  $("#navbarGNG a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate(
        {scrollTop: $(hash).offset().top},
        500,
        function(){window.location.hash = hash;}
      );
    } 

  });

});



var isReady = false;
var loading = $("#loading");
var intervalLoading = setInterval(function(){
        if (isReady) {
          loading.removeClass("opacityFull");
          
          loading.html("<h1 class='display-1 zoomIn animated text-warning'>Ready</h1>");
          clearInterval(intervalLoading);
          //set timeout with the same time as the transition
          setTimeout(function(){
            loading.addClass("d-none");
          }, 1000);
        }
},5000);




$(window).on("load", function (e) {
  //alert("ready");
    isReady = true;
});





var waypoints = $('#aboutme').waypoint(function(direction) {
  //$(".showswing li").addClass( "show" );
  $("#aboutme .showswing li").each(function (i, element) {
    //alert(i + " - " + element);
    setTimeout(function () {
            $(element).addClass('show');
        }, i * 250);
    });

}, {
  offset: '25%'
});


$('#cast').waypoint(function(direction) {
  $("#cast .showswing li").each(function (i, element) {
    setTimeout(function () {
            $(element).addClass('show');
        }, i * 250);
    })
});


$('#ericsson').waypoint(function(direction) {

  //$("#positionScreen").html($(this.element).offset().top);
  $("#ericsson .col-12").removeClass("d-none");
  $("#ericsson .col-12").addClass("animated");
  $("#ericsson .col-6").removeClass("d-none");
  $("#ericsson .col-6").addClass("animated");
});

</script>




</body>
</html>
