<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HFK65D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="loading" class="bg-light opacityFull">

<h1 class="display-4 pulse animated infinite">Loading</h1>

<!--    
    <div class="container-fluid d-flex flex-column h-100 w-100 ">
      <div class="row flex-fill d-flex justify-content-center">
        <div class="col-4 pulse animated infinite bg-random d-flex justify-content-center"></div>
        <div class="col-4 pulse animated infinite bg-random d-flex justify-content-center"></div>
        <div class="col-4 pulse animated infinite bg-random d-flex justify-content-center"></div>
      </div>
      <div class="row flex-fill d-flex justify-content-start">
        <div class="col-4 pulse animated infinite bg-random d-flex justify-content-center"></div>
        <div class="col-4 d-flex justify-content-center">
          <h1 class="display-4 pulse animated infinite">Loading</h1>
        </div>
        <div class="col-4 pulse animated infinite bg-random d-flex justify-content-center"></div>
      </div>
      
      <div class="row flex-fill d-flex">
        <div class="col-4 pulse animated infinite bg-random d-flex justify-content-center"></div>
        <div class="col-4 pulse animated infinite bg-random d-flex justify-content-center"></div>
        <div class="col-4 pulse animated infinite bg-random d-flex justify-content-center"></div>
      </div>
    </div>
  -->
   
  </div>
  <div id="positionScreen"></div>
  <div id="content" >
    <% include ../partials/nav.ejs %>
    <% include ../partials/home.ejs %>
    <% include ../partials/about.ejs %>
    <% include ../partials/cast.ejs %>
    <% include ../partials/ericsson.ejs %>
    <% include ../partials/nordica.ejs %>
  </div>

  
 <script>

//function for smooth navigation
$(document).ready(function() {
  //set smooth navigation
  $("#navbarGNG a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate(
        {scrollTop: $(hash).offset().top},
        500,
        function(){window.location.hash = hash;}
      );
    } 

  });

});



var isReady = false;
var loading = $("#loading");
var intervalLoading = setInterval(function(){
        if (isReady) {
          loading.removeClass("opacityFull");
          
          loading.html("<h1 class='display-1 zoomIn animated text-warning'>Ready</h1>");
          clearInterval(intervalLoading);
          //clearInterval(intervalLoadingChangeColors);
          //set timeout with the same time as the transition
          setTimeout(function(){
            loading.addClass("d-none");
          }, 1000);
        }
},1000);


/*
var intervalLoadingChangeColors = setInterval(function(){
  $(".bg-random").each(function (i, element) {
    $(element).css("background-color", getRandomColor());
  });      
},500);


function getRandomColor () {
  var hex = Math.floor(Math.random() * 0xFFFFFF);
  return "#" + ("000000" + hex.toString(16)).substr(-6);
}
*/


$(window).on("load", function (e) {
  //alert("ready");
    isReady = true;
});





var waypoints = $('#aboutme').waypoint(function(direction) {
  //$(".showswing li").addClass( "show" );
  $("#aboutme .showswing li").each(function (i, element) {
    //alert(i + " - " + element);
    setTimeout(function () {
            $(element).addClass('show');
        }, i * 250);
    });

}, {
  offset: '25%'
});


$('#cast').waypoint(function(direction) {
  $("#cast .showswing li").each(function (i, element) {
    setTimeout(function () {
            $(element).addClass('show');
        }, i * 250);
    })
});


$('#ericsson').waypoint(function(direction) {

  //$("#positionScreen").html($(this.element).offset().top);
  $("#ericsson .col-12").removeClass("d-none");
  $("#ericsson .col-12").addClass("animated");
  $("#ericsson .col-6").removeClass("d-none");
  $("#ericsson .col-6").addClass("animated");
});

</script>




</body>
</html>
