<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div id="loading" class="bg-light">
    <h1 class="display-4 pulse animated infinite">Loading</h1>
   
  </div>
  <div id="positionScreen"></div>
  <div id="content" >
    <% include ../partials/nav.ejs %>
    <% include ../partials/home.ejs %>
    <% include ../partials/about.ejs %>
    <% include ../partials/cast.ejs %>
    <% include ../partials/ericsson.ejs %>
    <% include ../partials/nordica.ejs %>
  </div>

  
 <script>

//function for smooth navigation
$(document).ready(function() {
  //set smooth navigation
  $("#navbarGNG a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate(
        {scrollTop: $(hash).offset().top},
        500,
        function(){window.location.hash = hash;}
      );
    } 

  });




var isReady = false;
setInterval(function(){
    var loading = $("#loading");
        if (isReady) {
          loading.addClass("d-none");
          loading.html("Ready");
        }
        else{
          loading.html("Loading");
        }
},1000);




$(window).on("load", function (e) {
    isReady = true;
});



//Loading area
/*
  setTimeout(function(){
        let loading = document.getElementById('loading').value;
        console.log(loading);
        let content = document.getElementById('isItLoaded');
        if (isItLoaded == undefined) {
          let newDiv = `
          <div class="letter">l</div>
          `;
loading.innerHTML = newDiv;
          loading.className = 'displayIt';
        }
        else if (isItLoaded !== undefined) {
          loading.innerHTML = "";
          loading.className = 'noDisplay';
        }
      },10);

  setTimeout(function(){
        let loading = document.getElementById('loading').value;
        console.log(loading);
        let content = document.getElementById('isItLoaded');
        if (isItLoaded == undefined) {
          let newDiv = `
          <div class="letter">o</div>
          `;
loading.innerHTML = newDiv;
          loading.className = 'displayIt';
        }
        else if (isItLoaded !== undefined) {
          loading.innerHTML = "";
          loading.className = 'noDisplay';
        }
      },300);
      */
});



var waypoints = $('#aboutme').waypoint(function(direction) {
  //$(".showswing li").addClass( "show" );
  $("#aboutme .showswing li").each(function (i, element) {
    //alert(i + " - " + element);
    setTimeout(function () {
            $(element).addClass('show');
        }, i * 250);
    });

}, {
  offset: '25%'
});


$('#cast').waypoint(function(direction) {
  $("#cast .showswing li").each(function (i, element) {
    setTimeout(function () {
            $(element).addClass('show');
        }, i * 250);
    })
});


$('#ericsson').waypoint(function(direction) {

$("#positionScreen").html($(this.element).offset().top);
  

  
  $("#ericsson .col-6").removeClass("d-none");
  $("#ericsson .col-6").addClass("animated");
});

</script>






</body>
</html>
